html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0px 15px;
}

.pod {
    background: #f5f5f5;
    margin: 0px 0px 15px;
}

#whole {
    background-color: #474747;
}
